.Shows {
  border: solid 4px;
  border-color: black;
  width:80%;
  margin:auto;
  margin-top: 10px;
  padding-bottom: 50px;
}
 .newButton {
   margin-left: 10px;
   margin-bottom: 10px;
 }
.Shows h1 {
  text-align: center;
}

.ResumeButton {
  margin-left: 10px;
  margin-bottom: 10px;
}